.table {
  margin: 20px 0;
  border: groove 2px rgb(192, 192, 192);
  padding: 20px 32px;

  display: flex;
  flex-flow: column;
  align-items: stretch;
}

table {
  border-collapse: collapse;
}

.abc{
  overflow-x: scroll;

}

.tableTitle {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 50px;
}

.list {
  list-style: none;
}

.rowDescriptions {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.rowData {
  display: flex;
  flex-flow: row ;

  list-style: none;
}


td,
th {
  max-width: 300px;
  padding: 0 20px;
  text-align: center;
  overflow-wrap: break-word;
}

td {
  border-top: solid 1px rgb(192 192 192);
}
